.card-container{
    max-width: 520px;
    margin: 0 2rem;
    padding: 2rem 2.5rem 1rem;
    background-color: $white;
    border-radius: 1rem;
    box-shadow: $shadow;
    div.title{
        display: flex;
        h1{
            color: $dark-purple;
            margin: 0.5rem 0;
        }
        img{
            width: 24px;
            margin-right: 1.5rem;
        }
    }
}

.accordion-container{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px){
    .card-container{
        div.title{
            h1{
                font-size: 3.5rem;
            }
            img{
                width: 40px;
                margin-right: 1.5rem;
            }
        }
    }
}
