body{
    font-family: $font;
    background-color: $pink;
    padding: 0;
    margin: 0;
}

.background{
    width: 100svw;
    max-height: fit-content;
    position: fixed;
    top: 0;
    z-index: -1;
    img{
        width: 100svw;
        height: max-content;
    }
}

p{
    font-size: 16px;
}

.regular{
    font-weight: 400;
}

.semi-bold{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}

.border-red{
    border: red solid 1px;
}

.d-none{
    display: none;
}

@media screen and (min-width: 1440px){

}
